{% block profindex%}
<div class="container">
  <div class="row">
    <!-- profile photo -->
    <div class="col-md-4">
      {% if user.profile_pic_path %}
      <img
        src="{{url_for('static',filename=user.profile_pic_path)}}"
        alt=""
        class="img-thumbnail pro"
      />
      {%else%}
      <div class="profile-userpic">
        <img
          src="https://image.ibb.co/jw55Ex/def_face.jpg"
          class="img-responsive"
          alt=""
          height="250"
          width="250"
        />
      </div>
      {% endif %} <br />
      <!-- Update photo -->
      {% if user == current_user %}
      <form
        id="upload"
        action="{{url_for('.update_pic',username=user.username)}}"
        method="post"
        enctype="multipart/form-data"
      >
        <input type="file" name="photo" class="form-control" required /><br />
        <input type="submit" />
      </form>
      {% endif %}
    </div>
    <div class="col-md-6">
      <p>Username: {{user.username}}</p>
      <p>Email: {{user.email}}</p>
      <p>Gender: {{user.gender}}</p>
      <p>Race: {{user.race}}</p>
      <p>Location: {{user.location}}</p>
      <p>Occupation: {{user.occupation}}</p>
      {% if user.bio %}
      <p>Bio: {{user.bio}}</p>
      {%else%}
      <p>{{user.username}} has no bio</p>
      {% endif %}
      <!-- update -->
      {% if user == current_user %}
      <a href="{{url_for('main.update_profile',username=user.username)}}"
        >Edit profile</a
      >
      {% endif %}
    </div>
  </div>
  <br /><br />
  <hr />
  <div class="row">
    <h5>My Posts</h5>
  </div>
</div>
{% endblock %}
